<div class="container">
  <div class="card-wrapper left">
    <mat-card class="mat-elevation-z1 left-card">
      <mat-card-header>
        <mat-card-title>
          <h2>{{formTitle}}</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-actions layout="row" layout-align="center center">
        <button (click)="facebookLogin()" mat-raised-button color="primary">Facebook</button>
        <button (click)="twitterLogin()" mat-raised-button color="primary">Twitter</button>
        <button (click)="googleLogin()" mat-raised-button color="primary">Google</button>
        <button (click)="linkedinLogin()" mat-raised-button color="primary">LinkedIn</button>
      </mat-card-actions>

      <form (submit)="login()" *ngIf="showLoginForm">
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Email or Phone number" [(ngModel)]="userLogin.email" type="text" name="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" [(ngModel)]="userLogin.password" type="password" name="password">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" (click)="showRegister()" mat-raised-button color="primary">Register</button>
          <button type="submit"  class="regButton" mat-raised-button
            color="primary">Login</button>
        </mat-card-actions>
        <mat-card-actions>
          <a class="nav-link" style="cursor: pointer;text-decoration-line: underline;"
            (click)="showReset()">Forgot password ?</a>
        </mat-card-actions>
      </form>

      <form (submit)="register()" *ngIf="showRegisterForm">
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="First Name" [(ngModel)]="userRegister.firstName" type="text" name="firstName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name" [(ngModel)]="userRegister.lastName" type="text" name="lastName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email or Phone number" [(ngModel)]="userRegister.email" type="text" name="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" [(ngModel)]="userRegister.password" type="password" name="password">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Confirm Password" [(ngModel)]="userRegister.confirmPassword" type="password" name="confirmPassword">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" (click)="showLogin()" mat-raised-button color="primary">Login</button>
          <button type="submit" class="regButton" mat-raised-button
            color="primary">Register</button>
        </mat-card-actions>
        <mat-card-actions>
          <a class="nav-link" style="cursor: pointer;text-decoration-line: underline;"
            (click)="showReset()">Forgot
            password ?</a>
        </mat-card-actions>
      </form>

      <form (submit)="reset()" *ngIf="showResetForm">
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="userLogin.email" type="text" name="email">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" (click)="showLogin()" mat-raised-button color="primary">Login</button>
          <button type="submit"  class="regButton" mat-raised-button
            color="primary">Reset Password</button>
        </mat-card-actions>
        <mat-card-actions>
          <a class="nav-link" style="cursor: pointer;text-decoration-line: underline;"
            (click)="showReset()">Forgot
            password ?</a>
        </mat-card-actions>
      </form>

      <form (submit)="resetCode()" *ngIf="showResetCodeForm">
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="code" [(ngModel)]="userLogin.code" type="text" name="code">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" (click)="showLogin()" mat-raised-button color="primary">Login</button>
          <button type="submit"  class="regButton" mat-raised-button
            color="primary">Reset Password</button>
        </mat-card-actions>
        <mat-card-actions>
          <a class="nav-link" style="cursor: pointer;text-decoration-line: underline;"
            (click)="showReset()">Forgot
            password ?</a>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>