<form (ngSubmit)="onSubmit()">
  <span>
    <mat-label><b>Current Status</b>:
      {{data.element.verified}}</mat-label><br>
  </span>
  <span>
    <mat-label><b>Deposit Discription</b></mat-label><br>
    {{data.element.description}}<br>
  </span>

  <input type="hidden" [formControl]="deposit_id">
  <mat-form-field *ngIf="userHasRole('verify-deposit')">
    <mat-label>Select New Status</mat-label>
    <mat-select [formControl]="status" (value)="showHide" [errorStateMatcher]="matcher">
      <mat-option *ngIf="data.element.verified!='yes'" value="yes">Verify</mat-option>
      <mat-option *ngIf="data.element.verified!='rejected'" value="rejected">Reject</mat-option>
    </mat-select>
    <mat-error *ngIf="!status.hasError('minLength')">
      Status is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="false">
    <textarea matInput placeholder="Give a reason for your action" [formControl]="reason"
      [errorStateMatcher]="matcher"></textarea>
    <mat-error *ngIf="!reason.hasError('minLength')">
      Reason is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button *ngIf="userHasRole('verify-deposit')" type="submit" mat-button cdkFocusInitial
      class="button-primary border-radius">Update</button>
    <button *ngIf="((data.element.user_id==userId)&&(data.element.verified!='yes'))" mat-button (click)="deleteDeposit(data.element.id)"
      class="button-danger">Delete Request</button>
    <button mat-button (click)="closeChangeDepositStatus()" class="button-default">Close</button>
  </div>
</form>
