
<mat-tab-group>
  <mat-tab label="Profile"> 
    <mat-card fxFlex="1 2 100"><h3>User >> Settings >> Profile</h3></mat-card> 
  </mat-tab>
  <mat-tab label="Change Password"> 
    <mat-card fxFlex="1 2 100"><h3>User >> Settings >> Change Password</h3></mat-card>
  </mat-tab>
  <mat-tab label="Preferences"> 
    <mat-card fxFlex="1 2 100"><h3>User >> Settings >> Preferences</h3></mat-card> 
  </mat-tab>
  <mat-tab label="Api"> 
    <mat-card fxFlex="1 2 100"><h3>User >> Settings >> APIs</h3></mat-card> 
  </mat-tab>
</mat-tab-group>
