        .left {
                margin-top: auto;
                margin-right: 0;
                margin-bottom: auto;
                margin-left: auto;
            }            
        .right {
                margin-top: auto;
                margin-right: auto;
                margin-bottom: auto;
                margin-left: 0;
            }
            .right-card{
                border-top-left-radius: 0%;
                border-bottom-left-radius: 0%;

            } 
            .left-card{
                border-top-right-radius: 0%;
                border-bottom-right-radius: 0%;

            }
            .regButton{
                float: right;
            }
            .center-align{
                align-content: center;
            }
            .social-button{
                width: 120px;
                background-color:#ededed;
                color:#545656;
            }