<div class="container">
  <div class="card-wrapper left">
    <mat-card class="mat-elevation-z1 left-card">
      <mat-card-header>
        <mat-card-title>
          <h2>Login</h2>
        </mat-card-title>
      </mat-card-header>
      <form (submit)="login(userLogin.email, userLogin.password)">
        <mat-card-content>
          <mat-form-field>
            <input matInput placeholder="Email or Phone number" [(ngModel)]="userLogin.email" type="text" name="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" [(ngModel)]="userLogin.password" type="password" name="password">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-raised-button color="primary">Login</button>
          <button type="submit" class="regButton" mat-raised-button color="primary">Register</button>
        </mat-card-actions>
        <mat-card-actions>
          <a href="/auth/forgot-pass">Forgot password ?</a>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>

    <div class="card-wrapper right">
      <mat-card class="mat-elevation-z1 right-card">
        <mat-card-header>
          <mat-card-title class="center-align">
            <h2>Sign In with</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-actions>
          <button class="social-button" mat-raised-button color="primary"><img src="../assets/icons/facebook.png" alt="facebook" > Facebook</button>
          <button class="social-button" mat-raised-button color="primary"><img src="../assets/icons/twitter.png" alt="twitter"> Twitter</button>
        </mat-card-actions>
        <mat-card-actions>
          <button class="social-button" mat-raised-button color="primary" (click)="signInWithGoogle()" ><img src="../assets/icons/google.png" alt="google"> Google</button>
          <button class="social-button" mat-raised-button color="primary"><img src="../assets/icons/instagram.png" alt="instagram"> Instagram</button>
        </mat-card-actions>
        <mat-card-actions>
          <button class="social-button" mat-raised-button color="primary"><img src="../assets/icons/linkedin.png" alt="linkedin"> LinkedIn</button>
          <button class="social-button" mat-raised-button color="primary"><img src="../assets/icons/github.png" alt="instagram"> GitHub</button>
        </mat-card-actions>
      </mat-card>
    </div>
</div>
<div class="background" [ngClass]="chosenFilter"></div>
