<h1 mat-dialog-title>Add Group Details</h1>
<div mat-dialog-content *ngIf="chama$ | async as chamaData">
  <form  (ngSubmit)="onSubmit()">
  <mat-form-field >
    <input matInput placeholder="Group Name" [formControl]="name" >
    <mat-error *ngIf="!name.hasError('minLength')">
      Name is <strong>required</strong>(Minimum 4 characters)
    </mat-error>
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Group Office Address" [value]="address" [formControl]="address" [errorStateMatcher]="matcher">
      <mat-error *ngIf="!address.hasError('minLength')">
        Address is <strong>required</strong>(Minimum 4 characters)
      </mat-error>
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Group Office Physical Location" [formControl]="location" [errorStateMatcher]="matcher">
        <mat-error *ngIf="!location.hasError('minLength')">
          Office location is <strong>required</strong>(Minimum 4 characters)
        </mat-error>
  </mat-form-field>
  <mat-form-field >
    <textarea matInput cdkTextareaAutosize placeholder="Group Description" [formControl]="desc" [errorStateMatcher]="matcher"></textarea>
          <mat-error *ngIf="!desc.hasError('minLength')">
            Description is <strong>required</strong>(Minimum 4 characters)
          </mat-error>
  </mat-form-field>
<div mat-dialog-actions>
  <button type="submit"  mat-button cdkFocusInitial class="button-primary"> Add Group Details</button>
  <button mat-button (click)="closeCreateGroupDialog()" class="button-default">Cancel</button>
</div>
</form>
</div>
