<mat-card style="margin-left: 30%;margin-right: 30%">
  <h3>User >> Profile</h3>
  <form (ngSubmit)="onSubmitUpdateProfile()">
    <div >
      <mat-form-field>
        <input matInput placeholder="First Name" [(formControl)]="firstName" [errorStateMatcher]="matcher">
        <mat-error *ngIf="firstName.hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Middle Name" [formControl]="middleName" [errorStateMatcher]="matcher">
        <mat-error *ngIf="!middleName.hasError('required')">
          Middle name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" [formControl]="lastName" [errorStateMatcher]="matcher">
        <mat-error *ngIf="!lastName.hasError('required')">
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input [readonly]="true" matInput placeholder="Email" [formControl]="email" [errorStateMatcher]="matcher">
        <mat-error *ngIf="!email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone Number" [formControl]="phoneNumber" [errorStateMatcher]="matcher">
        <mat-error *ngIf="!phoneNumber.hasError('minLength')">
          Phone Number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Address" [formControl]="address" cdkTextareaAutosize
          [errorStateMatcher]="matcher">
              </textarea>
        <mat-error *ngIf="!address.hasError('required')">
          Address is <strong>required</strong>(Minimum 4 characters)
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select matInput [formControl]="gender">
          <mat-option value="male">
            Male
          </mat-option>
          <mat-option value="female">
            Female
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div mat-dialog-actions>
        <button type="submit" mat-button cdkFocusInitial class="button-primary border-radius">Update User
          Details</button>
      </div>
    </div>
  </form>
</mat-card>
<hr>
<mat-card style="margin-left: 20%;margin-right: 20%">
  <form (ngSubmit)="onSubmitChangePassword()">
    <input type="hidden" value="email" placeholder="Email" [formControl]="email">
    <mat-form-field>
      <input type="password"  matInput placeholder="Current Password" [formControl]="currentPassword" [errorStateMatcher]="matcher">
      <mat-error *ngIf="!currentPassword.hasError('minLength')">
        Current password is <strong>required</strong>(Minimum 6 characters)
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password"  matInput placeholder="New Password" [formControl]="newPassword" [errorStateMatcher]="matcher">
      <mat-error *ngIf="!newPassword.hasError('minLength')">
        New password is <strong>required</strong>(Minimum 6 characters)
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Confirm New Password" [formControl]="confirmNewPassword"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="!confirmNewPassword.hasError('minLength')">
        Confirm new password is <strong>required</strong>(Minimum 6 characters)
      </mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <button type="submit" mat-button cdkFocusInitial class="button-primary border-radius">Change Password</button>
    </div>
  </form>
</mat-card>