.full-row-height {
    height: 100vh;
}
.group-button{
    background: #428bca;
    border-radius: 0%;
    margin-left: 25%;
}
.edit-group-button{
    background: #428bca;
    border-radius: 0%;
}
.mat-grid-tile-top-left {
  border-bottom: 1px solid #428bca;
  border-right: 1px solid #428bca;
}
.mat-grid-tile-top-right {
  border-bottom: 1px solid #428bca;
  border-left: 1px solid #428bca;
}
.mat-grid-tile-bottom-left {
  border-top: 1px solid #428bca;
}
.mat-grid-tile-bottom-right {
  border-left: 1px solid #428bca;
}
table {
  width: 100%;
}
