<ng-container *ngIf="chamaData==null; then noAddDeposit; else addDeposit">
</ng-container>
<ng-template #addDeposit>
  <div *ngIf="chamaData?.name!=''">
    <h1 mat-dialog-title>Add Group Contribution [{{chamaData?.name}}]</h1>
    <div *ngIf="data.key.depositBy=='admin'">
      <h2>Deposit For {{data.key.user.userName}}</h2>
    </div>
    <div mat-dialog-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label>Deposit Type</mat-label>
          <mat-select [formControl]="deposit" [errorStateMatcher]="matcher">
            <mat-option *ngFor="let depositType of depositTypes?.data" [value]="depositType?.id">
              {{depositType.type_name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!deposit.hasError('minLength')">
            Deposit Type is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Amount" [formControl]="amount" [errorStateMatcher]="matcher">
          <mat-error *ngIf="!amount.hasError('minLength')">
            Amount is <strong>required</strong> and must greater than 0
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="7" placeholder="Description(Payment details)" [formControl]="desc"
            [errorStateMatcher]="matcher"></textarea>
          <mat-error *ngIf="!desc.hasError('minLength')">
            Description is <strong>required</strong>(Minimum 4 characters)
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [max]="maxPaymentDate" (click)="picker.open()"
            placeholder="Choose payment date" [formControl]="paymentDate" [errorStateMatcher]="matcher" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="!paymentDate.hasError('minLength')">
            Payment date(DD/MM/YYYY) is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div mat-dialog-actions>
          <button type="submit" mat-button cdkFocusInitial class="button-primary border-radius">Save New
            Contribution/Deposit</button>
          <button mat-button (click)="closeAddDeposit()" class="button-default">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<ng-template #noAddDeposit>
  <div>
    Your request can not be processed because you have not selected a default saving group/chama
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeAddDeposit()" class="button-default">Close</button>
  </div>
</ng-template>