<div class="card-wrapper">
  <mat-card class="mat-elevation-z1 right-card">
    <mat-card-header>
      <mat-card-title class="center-align">
        <h2>Sign In with</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button class="social-button" mat-raised-button color="primary"><img src="../assets/icons/facebook.png"
          alt="facebook"> Facebook</button>
      <button class="social-button" mat-raised-button color="primary"><img src="../assets/icons/twitter.png"
          alt="twitter"> Twitter</button>
    </mat-card-actions>
    <mat-card-actions>
      <button class="social-button" mat-raised-button color="primary" ><img
          src="../assets/icons/google.png" alt="google"> Google</button>
      <button class="social-button" mat-raised-button color="primary"><img src="../assets/icons/instagram.png"
          alt="instagram"> Instagram</button>
    </mat-card-actions>
    <mat-card-actions>
      <button class="social-button" mat-raised-button color="primary"><img src="../assets/icons/linkedin.png"
          alt="linkedin"> LinkedIn</button>
      <button class="social-button" mat-raised-button color="primary"><img src="../assets/icons/github.png"
          alt="instagram"> GitHub</button>
    </mat-card-actions>
  </mat-card>
</div>