<app-spinner *ngIf="this.loaderService.isLoading.getValue()"></app-spinner>
<app-header  [userData]="currentUser" [title]="title" [sidenav]="sidenav" (logout)="logout($event)">
</app-header>

<mat-sidenav-container>
  <mat-sidenav [opened]="currentUser" #sidenav mode="side" class="app-sidenav">
    <nav>
      <a mat-button class="nav-link" *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="active">
        <mat-icon>{{link.icon}}</mat-icon>
        {{link.label}}
      </a>
    </nav>
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <div class="app-content" >
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</mat-sidenav-container>
<app-footer></app-footer>
