<app-spinner *ngIf="spinner()"></app-spinner>
<app-header
  [userData]="currentUser"
  [title]="title"
  [sidenav]="sidenav"
  (logout)="logout($event)"
>
</app-header>

<mat-sidenav-container>
  <mat-sidenav [opened]="currentUser" #sidenav mode="side" class="app-sidenav">
    <nav>
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        fxFlexFill
        class="button-dropdown"
      >
        <span style="float:left;"><b>{{defaultChamaName.substring(0,20)}}</b></span>
        <mat-icon style="float:right;padding-top:6px">expand_more</mat-icon>
      </button> 

      <mat-menu #menu="matMenu" style="border-style: solid;border-width: 1px;">
        <!-- <button mat-menu-item style="min-inline-size: 200px;">
          Optimus E-Solutions
        </button> -->
        <button mat-menu-item *ngFor="let chama of chamas" (click)="updateDefaultGroup(chama)" >{{chama.name.substring(0,24)}}</button>
        <button mat-menu-item (click)="logout($event)"><mat-icon>exit_to_app</mat-icon>Logout(Exit App)</button>

      </mat-menu>
      <ng-container  *ngFor="let link of links">
      <a
      *ngIf="((link.designation==authService.getUserData()?.user.designation)||(link.designation=='user'))"
        mat-button
        class="nav-link"
        [routerLink]="link.path"
        routerLinkActive=""
      >
        <mat-icon>{{ link.icon }}</mat-icon>
        {{ link.label }}
      </a>
      </ng-container>
    </nav>
  </mat-sidenav>

  <div class="app-content">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</mat-sidenav-container>
<app-footer class="footer"></app-footer>
