<app-spinner *ngIf="this.loaderService.isLoading.getValue()"></app-spinner>
<app-header  [userData]="currentUser" [title]="title" [sidenav]="sidenav" (logout)="logout($event)">
</app-header>

<mat-sidenav-container>
  <mat-sidenav [opened]="currentUser" #sidenav mode="side" class="app-sidenav">
    <nav>
        <button mat-button [matMenuTriggerFor]="menu" fxFlexFill class="button-dropdown"><span style=float:left;><b>Optimus E-Solutions</b></span> <mat-icon style="float:right;padding-top:6px">expand_more</mat-icon></button>
        <mat-menu #menu="matMenu" style="border-style: solid;border-width: 1px;">
          <button mat-menu-item style="min-inline-size: 200px;">Optimus E-Solutions</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      <a mat-button class="nav-link" *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="active">
        <mat-icon>{{link.icon}}</mat-icon>
        {{link.label}}
      </a>
    </nav>
  </mat-sidenav>

  <div class="app-content">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</mat-sidenav-container>
<app-footer></app-footer>
